.forgotPasswordModal {
  width: 650px !important;
  height: 300px !important;
  padding-top: 34px;
  padding-left: 45px;
  padding-bottom: 55px;
}

.forgotPasswordText {
  font-size: 10px;
  font-weight: 200;
  font-family: "Poppins", sans-serif;
  line-height: 16px;
  margin-top: 25px;
  margin-bottom: 14px;
  font-style: italic;
  color: #333333;
  cursor: pointer;
}

.forgotPasswordWrapper {
  margin: auto 0;
}

.mainTitle {
  font-size: 25px;
  font-family: "Poppins", sans-serif;
  color: #333333;
  font-weight: 900;
  letter-spacing: 0.2em;
  line-height: 1;
  margin-bottom: 10px;
}

.desc {
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  color: #333333;
  font-weight: 400;
  margin-bottom: 32px;
  width: 450px;
  margin-top: 24px;
}

.mailInput {
  width: 443px;
  height: 27.5px;
  border: none;
  border-bottom: 1px solid #333333;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  color: #333333;
  font-weight: 400;
  margin-bottom: 24px;
  padding: 15px 0;
}

.mailInput::placeholder {
  color: rgba(51, 51, 51, 0.4);
}

.submitBtn {
  width: 270px;
  height: 65px;
  border: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: linear-gradient(to right, white 50%, #333333 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.2s ease-out;
}

.submitBtn:hover {
  background-position: left bottom;
  color: #333333;
  transition: all 0.1s ease-out;
}

.submitBtn p {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: white;
  letter-spacing: 0.4em;
}
.submitBtn:hover p {
  color: #333333;
}

@media only screen and (max-width: 750px) {
  .forgotPasswordModal {
    width: 300px !important;
    padding: 20px;
  }

  .mainTitle {
    line-height: 29px;
    margin-bottom: 0px;
  }

  .desc {
    margin-top: 15px;
  }

  .mailInput {
    width: 250px;
  }

  .desc {
    width: unset;
  }
  .submitBtn {
    width: 200px;
    height: 40px;
  }
}
