@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap");

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  line-height: 1;
  user-select: none;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}

button {
  cursor: pointer;
}

button:focus {
  outline: none;
}

input:focus {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
div,
li,
a,
button,
input {
  font-family: "Poppins", sans-serif;
  color: #333333;
}

.redirectSpan {
  display: flex;
  width: 100%;
  height: 100vh;
  margin: auto;
  font-size: 20px;
  font-weight: 500;
  justify-content: center;
  align-items: center;
  padding: 10px;
  position: fixed;
  z-index: 900000;
  top: 0;
  left: 0;
  background: white;
}

img {
  object-fit: contain;
}
#nprogress .bar {
  background: #f17b2d !important;
  height: 6px !important;
}

#nprogress .peg {
  box-shadow: 0 0 10px #f17b2d, 0 0 5px #f17b2d !important;
}

#nprogress .spinner {
  display: block;
  position: fixed;
  z-index: 10331 !important;
  top: unset !important;
  bottom: 10px !important;
  right: 10px !important;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px #33333325, 0 0 5px #33333325 !important;
}

#nprogress .spinner-icon {
  width: 18px;
  height: 18px;
  box-sizing: border-box;
  padding: 10px;
  border: solid 2px transparent;
  border-top-color: #333333 !important;
  border-left-color: #333333 !important;
  border-radius: 50%;
}

.fixedLayout {
  animation-name: fadeInLeft;
  animation-duration: 0.4s;
  animation-timing-function: ease-in-out;
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/*Homepage Top Swiper */
.homePageTopSwiper .swiper-button-prev,
.homePageTopSwiper .swiper-button-next {
  top: 46.5% !important;
}

.homePageTopSwiper .swiper-button-prev:after,
.homePageTopSwiper .swiper-button-next:after {
  font-weight: 900 !important;
  font-size: 29px !important;
  color: black !important;
}

.homePageTopSwiper .swiper-pagination-bullets {
  bottom: 0px !important;
}
.homePageTopSwiper .swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  opacity: 1;
  border: 1px solid #333333;
  background: white;
  margin: 0 7.5px !important;
}

.homePageTopSwiper .swiper-pagination-bullet-active {
  background: #333333;
}

/*Homepage Bottom Swiper */
.homePageBottomSwiper {
  position: unset !important;
}

.homePageBottomSwiper .swiper-button-prev {
  left: -42px;
}

.homePageBottomSwiper .swiper-button-next {
  right: -42px;
}

@media only screen and (max-width: 1024px) {
  .homePageBottomSwiper .swiper-button-prev {
    left: 5px;
  }

  .homePageBottomSwiper .swiper-button-next {
    right: 5px;
  }
}

.homePageBottomSwiper .swiper-button-prev,
.homePageBottomSwiper .swiper-button-next {
  top: 37% !important;
}

.homePageBottomSwiper .swiper-button-prev:after,
.homePageBottomSwiper .swiper-button-next:after {
  font-size: 29px !important;
  color: black !important;
  font-weight: 900 !important;
}

.homePageBottomSwiper .swiper-pagination-bullets {
  bottom: 0px !important;
}
.homePageBottomSwiper .swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  opacity: 1;
  border: 1px solid #333333;
  background: white;
  margin: 0 7.5px !important;
}

.homePageBottomSwiper .swiper-pagination-bullet-active {
  background: #333333;
}

/* Navbar Popup Right */

.navbarPopup.ui.bottom.popup {
  margin-top: 17px;
  box-shadow: none;
  border: none;
  border-radius: 0;
  padding: 0;
}

.navbarPopup::before {
  display: none;
}

/* Navbar Popup Basket */

.navbarPopupBask.ui.bottom.popup {
  margin-top: 6px;
  box-shadow: none;
  border: none;
  border-radius: 5px;
  padding: 0;
}

.navbarPopupBask::before {
  display: none;
}

/* Skeleton  */

.loader {
  width: 100%;
  height: 100%;
  background: radial-gradient(#eeeeee, #dddddd);
}

/* BreadCrumb */

.ui.breadcrumb {
  margin-top: 30px !important;
  max-width: 1200px;
  width: 95%;
}

.ui.breadcrumb .section a {
  font-size: 11px !important;
  font-weight: 400;
  color: black;
}

.ui.breadcrumb .section {
  font-size: 11px !important;
  font-weight: 400;
  color: black;
}

.ui.breadcrumb .icon.divider {
  font-size: 13px !important;
  vertical-align: -1.4px;
}

.ui.breadcrumb .divider {
  display: inline-block;
  margin: 0px 12px;
  color: rgb(0, 0, 0);
}

.ui.breadcrumb .active.section {
  font-weight: 600;
}

/* Sort Dropdown */

.productsSortDropdown.ui.selection.dropdown {
  height: 40px;
  width: 200px;
  border: 1px solid #707070;
  position: relative;
  font-size: 13px;
  padding: 12.7px 10px;
  font-weight: 600;
}

.productsSortDropdown.ui.selection.dropdown:hover {
  border-color: black;
}

.productsSortDropdown.ui.selection.active.dropdown .menu {
  margin-top: 6px;
  box-shadow: 0px 6px 10px 0.1px rgba(0, 0, 0, 0.212);
  border: none;
}

.productsSortDropdown.ui.selection.active.dropdown .menu:hover {
  border: none;
}

.productsSortDropdown.ui.dropdown .menu > .item {
  font-size: 13px;
  padding-left: 10px !important;
}

.productsSortDropdown.ui.dropdown > .dropdown.icon:before {
  content: "";
  background-image: url("/arrowdown.svg") !important;
  background-repeat: no-repeat;
  z-index: 2;
  width: 12px;
  height: 6.86px;
  top: 16px;
  right: 14px;
  position: absolute;
}

/* Filter check */

.filterCheckBoxs.ui.checkbox .box:before,
.filterCheckBoxs.ui.checkbox label:before {
  border-radius: 100px;
  border: 1px solid black;
  width: 16px;
  height: 16px;
}

.filterCheckBoxs.ui.checkbox input:focus ~ label:before {
  border-color: black;
}

.filterCheckBoxs.ui.checkbox input:checked ~ .box:after,
.filterCheckBoxs.ui.checkbox input:checked ~ label:after {
  content: "" !important;
  width: 10px;
  height: 10px;
  border-radius: 100px;
  top: 3px;
  left: 3px;
  background: black;
  border: 1px solid black;
}

/* My Account Dropdowns */

.dayDropdown.ui.selection.dropdown {
  height: 40px;
  width: 90px;
  min-width: unset;
  margin-right: 5px;
  border: 1px solid #707070;
  position: relative;
  font-size: 10px;
  padding: 14px 10px;
  font-weight: 600;
}

.dayDropdown.ui.selection.dropdown:hover {
  border-color: black;
}

.dayDropdown.ui.selection.active.dropdown .menu {
  margin-top: 6px;
  box-shadow: 0px 6px 10px 0.1px rgba(0, 0, 0, 0.212);
  border: none;
}

.dayDropdown.ui.selection.active.dropdown .menu:hover {
  border: none;
}

.dayDropdown.ui.dropdown .menu > .item {
  font-size: 13px;
  padding-left: 10px !important;
}

.dayDropdown.ui.dropdown > .dropdown.icon:before {
  content: "";
  background-image: url("/arrowdown.svg") !important;
  background-repeat: no-repeat;
  z-index: 2;
  width: 12px;
  height: 6.86px;
  top: 16px;
  right: 14px;
  position: absolute;
}

/* Gender Dropdown */

.genderDropdown.ui.selection.dropdown {
  height: 40px;
  width: 185px;
  min-width: unset;
  margin-right: 5px;
  border: 1px solid #707070;
  position: relative;
  font-size: 10px;
  padding: 14px 10px;
  font-weight: 600;
}

.genderDropdown.ui.selection.dropdown:hover {
  border-color: black;
}

.genderDropdown.ui.selection.active.dropdown .menu {
  margin-top: 6px;
  box-shadow: 0px 6px 10px 0.1px rgba(0, 0, 0, 0.212);
  border: none;
}

.genderDropdown.ui.selection.active.dropdown .menu:hover {
  border: none;
}

.genderDropdown.ui.dropdown .menu > .item {
  font-size: 13px;
  padding-left: 10px !important;
}

.genderDropdown.ui.dropdown > .dropdown.icon:before {
  content: "";
  background-image: url("/arrowdown.svg") !important;
  background-repeat: no-repeat;
  z-index: 2;
  width: 12px;
  height: 6.86px;
  top: 16px;
  right: 14px;
  position: absolute;
}

/* ProductModal */

.productsModal.ui.modal {
  width: fit-content !important;
  height: fit-content !important;
}

.productAllSwiper {
  position: unset !important;
}

.productAllSwiper .swiper-button-prev {
  left: -42px;
  background-color: white;
  z-index: 30000;
  width: 27px;
  height: 30px;
}

.productAllSwiper .swiper-button-next {
  right: -42px;
  background-color: white;
  width: 27px;
  height: 30px;
  z-index: 30000;
}

.productAllSwiper .swiper-button-prev,
.productAllSwiper .swiper-button-next {
  top: 54% !important;
}

.productAllSwiper .swiper-button-prev:after,
.productAllSwiper .swiper-button-next:after {
  font-size: 12px !important;
  color: black !important;
  font-weight: 900 !important;
}

.productImageSwiper {
  position: relative !important;
}

.productImageSwiper .swiper-button-prev {
  left: 10px;
  z-index: 30000;
  background: transparent;
}

.productImageSwiper .swiper-button-next {
  right: 10px;
  z-index: 30000;
  background: transparent;
}

.productImageSwiper .swiper-button-prev,
.productImageSwiper .swiper-button-next {
  top: 54.5% !important;
}

.productImageSwiper .swiper-button-prev:after,
.productImageSwiper .swiper-button-next:after {
  font-size: 22px !important;
  color: black !important;
  font-weight: 900 !important;
}

/* Address Country City District Dropdown */

.countryDropdown.ui.selection.dropdown {
  height: 40px;
  width: 280px;
  min-width: unset;
  margin-right: 5px;
  border: 1px solid #707070;
  position: relative;
  font-size: 10px;
  padding: 14px 10px;
  font-weight: 600;
}

.countryDropdown.ui.selection.dropdown:hover {
  border-color: black;
}

.countryDropdown.ui.selection.active.dropdown .menu {
  margin-top: 6px;
  box-shadow: 0px 6px 10px 0.1px rgba(0, 0, 0, 0.212);
  border: none;
}

.countryDropdown.ui.selection.active.dropdown .menu:hover {
  border: none;
}

.countryDropdown.ui.dropdown .menu > .item {
  font-size: 10px;
  padding-left: 10px !important;
}

.countryDropdown.ui.dropdown > .dropdown.icon:before {
  content: "";
  background-image: url("/arrowdown.svg") !important;
  background-repeat: no-repeat;
  z-index: 2;
  width: 12px;
  height: 6.86px;
  top: 16px;
  right: 14px;
  position: absolute;
}

/* address checkboxs */

/* Filter check */

.addressRadio.ui.checkbox .box:before,
.addressRadio.ui.checkbox label:before {
  border-radius: 100px;
  border: 1px solid #707070;
  width: 12px;
  height: 12px;
}

.addressRadio.ui.checkbox input:focus ~ label:before {
  border-color: #707070;
}

.addressRadio.ui.checkbox input:checked ~ .box:after,
.addressRadio.ui.checkbox input:checked ~ label:after {
  content: "" !important;
  width: 12px;
  height: 12px;
  border-radius: 100px;
  top: 0px;
  left: 0px;
  background: #707070;
  border: 1px solid #707070;
}

.addressRadio.ui.checkbox input[type="checkbox"],
.addressRadio.ui.checkbox input[type="radio"] {
  z-index: 3 !important;
}

.addressRadio {
  min-width: 12px;
  min-height: 12px;
}

/* Product Detail Sliders */

.productDetailMainSilder .swiper-button-prev {
  background-color: rgba(0, 0, 0, 0);
  left: 20px;
}

.productDetailMainSilder .swiper-button-next {
  background-color: rgba(0, 0, 0, 0);
  right: 20px;
}

.productDetailMainSilder .swiper-button-prev:after,
.productDetailMainSilder .swiper-button-next:after {
  font-size: 35px !important;
  color: rgb(0, 0, 0) !important;
  font-weight: 900 !important;
}

.productDetailMainSilder .swiper-button-prev,
.productDetailMainSilder .swiper-button-next {
  top: 50% !important;
}

.productDetailThumbs .swiper-button-prev,
.productDetailThumbs .swiper-button-next {
  top: 56% !important;
}

.productDetailThumbs .swiper-button-prev {
  background-color: rgb(0, 0, 0);
  width: 27px;
  height: 30px;
}

.productDetailThumbs .swiper-button-next {
  background-color: rgb(0, 0, 0);
  width: 27px;
  height: 30px;
}

.productDetailThumbs .swiper-button-prev:after,
.productDetailThumbs .swiper-button-next:after {
  font-size: 10px !important;
  color: rgb(255, 255, 255) !important;
  font-weight: 900 !important;
}

/* New Credit Card Dropdown */

.cardDropdown.ui.selection.dropdown {
  height: 40px;
  width: 134px;
  min-width: unset;
  margin-right: 5px;
  border: 1px solid #707070;
  position: relative;
  font-size: 10px;
  padding: 14px 10px;
  font-weight: 600;
}

.cardDropdown.ui.selection.dropdown:hover {
  border-color: black;
}

.cardDropdown.ui.selection.active.dropdown .menu {
  margin-top: 6px;
  box-shadow: 0px 6px 10px 0.1px rgba(0, 0, 0, 0.212);
  border: none;
}

.cardDropdown.ui.selection.active.dropdown .menu:hover {
  border: none;
}

.cardDropdown.ui.dropdown .menu > .item {
  font-size: 10px;
  padding-left: 10px !important;
}

.cardDropdown.ui.dropdown > .dropdown.icon:before {
  content: "";
  background-image: url("/arrowdown.svg") !important;
  background-repeat: no-repeat;
  z-index: 2;
  width: 12px;
  height: 6.86px;
  top: 16px;
  right: 14px;
  position: absolute;
}

/* recProd Swiper */

.reccommendedSlider.swiper-container-horizontal > .swiper-scrollbar {
  width: 85%;
  height: 1px;
  bottom: 6px;
}

.reccommendedSlider.swiper-container-horizontal
  > .swiper-scrollbar
  > .swiper-scrollbar-drag {
  width: 57% !important;
  height: 3px;
  top: -1px;
}

.reccommendedSlider .swiper-button-prev {
  top: unset;
  left: unset;
  right: 130px;
  bottom: 0px;
  width: 20.24px;
  height: 13.5px;
}

.reccommendedSlider .swiper-button-next {
  top: unset;
  left: unset;
  right: 80px;
  bottom: 0px;
  width: 20.24px;
  height: 13.5px;
}

.reccommendedSlider .swiper-button-prev:after {
  content: "";
  background: url("/left.png");
  width: 20.24px;
  height: 13.5px;
}

.reccommendedSlider .swiper-button-next:after {
  content: "";
  background: url("/right.png");
  width: 20.24px;
  height: 13.5px;
}

@media only screen and (max-width: 1775px) {
  .reccommendedSlider.swiper-container-horizontal > .swiper-scrollbar {
    width: 75%;
  }

  .reccommendedSlider.swiper-container-horizontal
    > .swiper-scrollbar
    > .swiper-scrollbar-drag {
    width: 42% !important;
  }
}

@media only screen and (max-width: 690px) {
  .reccommendedSlider.swiper-container-horizontal > .swiper-scrollbar {
    width: 56%;
  }

  .reccommendedSlider.swiper-container-horizontal
    > .swiper-scrollbar
    > .swiper-scrollbar-drag {
    width: 34% !important;
  }
}

@media only screen and (max-width: 490px) {
  .reccommendedSlider.swiper-container-horizontal > .swiper-scrollbar {
    width: 38%;
  }

  .reccommendedSlider.swiper-container-horizontal
    > .swiper-scrollbar
    > .swiper-scrollbar-drag {
    width: 18% !important;
  }
}
/* Order Dropdown */

.orderDropdown.ui.selection.dropdown {
  height: 10px;
  width: 195px;
  min-width: unset;
  margin-right: 5px;
  border: none;
  position: relative;
  font-size: 10px;
  padding: 8px 10px;
  font-weight: 600;
}

.orderDropdown.ui.selection.dropdown:hover {
  border-color: black;
}

.orderDropdown.ui.selection.active.dropdown .menu {
  margin-top: 6px;
  box-shadow: 0px 6px 10px 0.1px rgba(0, 0, 0, 0.212);
  border: none;
}

.orderDropdown.ui.selection.active.dropdown .menu:hover {
  border: none;
}

.orderDropdown.ui.dropdown .menu > .item {
  font-size: 10px;
  padding-left: 10px !important;
}

.orderDropdown.ui.dropdown > .dropdown.icon:before {
  content: "";
  background-image: url("/arrowdown.svg") !important;
  background-repeat: no-repeat;
  z-index: 2;
  width: 12px;
  height: 6.86px;
  right: 0;
  top: 9px;
  position: absolute;
}

/* productDetail Bar */
.detailBar.ui.progress:last-child {
  margin: 0;
}

.detailBar.ui.progress {
  background: #efefef;
  border-radius: 0;
  height: 15px;
}

.detailBar.ui.progress .bar {
  border-radius: 0;
  height: 15px;
  background: black;
  min-width: 0;
}

/* commentDropdowns */
.commentSortDrop.ui.selection.dropdown {
  height: 40px;
  width: 200px;
  border: 1px solid #707070;
  position: relative;
  font-size: 13px;
  padding: 12.8px 10px;
  font-weight: 600;
}

.commentSortDrop.ui.selection.dropdown:hover {
  border-color: black;
}

.commentSortDrop.ui.selection.active.dropdown .menu {
  margin-top: 6px;
  box-shadow: 0px 6px 10px 0.1px rgba(0, 0, 0, 0.212);
  border: none;
}

.commentSortDrop.ui.selection.active.dropdown .menu:hover {
  border: none;
}

.commentSortDrop.ui.dropdown .menu > .item {
  font-size: 13px;
  padding-left: 10px !important;
}

.commentSortDrop.ui.dropdown > .dropdown.icon:before {
  content: "";
  background-image: url("/arrowdown.svg") !important;
  background-repeat: no-repeat;
  z-index: 2;
  width: 12px;
  height: 6.86px;
  top: 16.2px;
  right: 14px;
  position: absolute;
}

.commentSortDropStar.ui.selection.dropdown {
  height: 40px;
  width: 160px;
  min-width: unset;
  border: 1px solid #707070;
  position: relative;
  font-size: 13px;
  padding: 12.8px 10px;
  font-weight: 600;
}

.commentSortDropStar.ui.selection.dropdown:hover {
  border-color: black;
}

.commentSortDropStar.ui.selection.active.dropdown .menu {
  margin-top: 6px;
  box-shadow: 0px 6px 10px 0.1px rgba(0, 0, 0, 0.212);
  border: none;
}

.commentSortDropStar.ui.selection.active.dropdown .menu:hover {
  border: none;
}

.commentSortDropStar.ui.dropdown .menu > .item {
  font-size: 13px;
  padding-left: 10px !important;
}

.commentSortDropStar.ui.dropdown > .dropdown.icon:before {
  content: "";
  background-image: url("/arrowdown.svg") !important;
  background-repeat: no-repeat;
  z-index: 2;
  width: 12px;
  height: 6.86px;
  top: 16.2px;
  right: 14px;
  position: absolute;
}

.commentSortDropStar.ui.dropdown > .text > .image,
.ui.dropdown > .text > img {
  margin-top: -2px;
}

/* commentRepModal */

.commentRepModal.ui.modal {
  width: fit-content !important;
  height: fit-content !important;
  border-radius: 1px;
}

.paymentModalui.ui.modal {
  width: fit-content !important;
  height: fit-content !important;
  border-radius: 1px;
}

/* Favorites Page Dropdown */

.favoriteCardDropdown.ui.selection.dropdown {
  height: 30px;
  width: 150px;
  min-width: unset;
  margin-right: 5px;
  border: none;
  position: relative;
  font-size: 10px;
  padding: 10px 10px;
  font-weight: 600;
  border: 1px solid #333333;
}

.favoriteCardDropdown.ui.selection.dropdown:hover {
  border-color: black;
}

.favoriteCardDropdown.ui.selection.active.dropdown .menu {
  margin-top: 6px;
  box-shadow: 0px 6px 10px 0.1px rgba(0, 0, 0, 0.212);
  border: none;
}

.favoriteCardDropdown.ui.selection.active.dropdown .menu:hover {
  border: none;
}

.favoriteCardDropdown.ui.dropdown .menu > .item {
  font-size: 10px;
  padding-left: 10px !important;
}

.favoriteCardDropdown.ui.dropdown > .dropdown.icon:before {
  content: "";
  background-image: url("/favoriteDropdown.svg") !important;
  background-repeat: no-repeat !important;
  z-index: 2;
  width: 9px;
  height: 6.86px;
  right: 9px;
  top: 12px;
  position: absolute;
}

/* basket page dropdowns */

.basketCountDrop.ui.selection.dropdown {
  height: 35px;
  width: 65px;
  border: 1px solid #707070;
  position: relative;
  font-size: 13px;
  padding: 10.8px 10px;
  min-width: unset;
  font-weight: 600;
}

.basketCountDrop.ui.selection.dropdown:hover {
  border-color: black;
}

.basketCountDrop.ui.selection.active.dropdown .menu {
  margin-top: 6px;
  box-shadow: 0px 6px 10px 0.1px rgba(0, 0, 0, 0.212);
  border: none;
}

.basketCountDrop.ui.selection.active.dropdown .menu:hover {
  border: none;
}

.basketCountDrop.ui.dropdown .menu > .item {
  font-size: 13px;
  padding-left: 10px !important;
}

.basketCountDrop.ui.dropdown > .dropdown.icon:before {
  content: "";
  background-image: url("/arrowdown.svg") !important;
  background-repeat: no-repeat;
  z-index: 2;
  width: 12px;
  height: 6.86px;
  top: 14.2px;
  right: 7px;
  position: absolute;
}

/* Message Modal Dropdown */

.messageModalDropdown.ui.selection.dropdown {
  height: 32px;
  width: 400px;
  min-width: unset;
  margin-right: 5px;
  border: none;
  position: relative;
  font-size: 10px;
  padding: 10px 10px;
  font-weight: 600;
  border: 1px solid #333333;
}

.messageModalDropdown.ui.selection.dropdown:hover {
  border-color: black;
}

.messageModalDropdown.ui.selection.active.dropdown .menu {
  margin-top: 6px;
  box-shadow: 0px 6px 10px 0.1px rgba(0, 0, 0, 0.212);
  border: none;
}

.messageModalDropdown.ui.selection.active.dropdown .menu:hover {
  border: none;
}

.messageModalDropdown.ui.dropdown .menu > .item {
  font-size: 10px;
  padding-left: 10px !important;
}

.messageModalDropdown.ui.dropdown > .dropdown.icon:before {
  content: "";
  background-image: url("/favoriteDropdown.svg") !important;
  background-repeat: no-repeat !important;
  z-index: 2;
  width: 9px;
  height: 6.86px;
  right: 9px;
  top: 12px;
  position: absolute;
}

/* Basket Page Swiper */

.baskReccommendedSlider .swiper-button-prev {
  background: white;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.16);
  width: 30px;
  height: 30px;
  left: 3px;
}

.baskReccommendedSlider .swiper-button-next {
  right: 3px;
  background: white;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.16);
  width: 30px;
  height: 30px;
}

.baskReccommendedSlider .swiper-button-prev:after,
.baskReccommendedSlider .swiper-button-next:after {
  font-size: 15px !important;
  color: rgb(0, 0, 0) !important;
  font-weight: 900 !important;
}

.baskReccommendedSlider .swiper-button-prev,
.baskReccommendedSlider .swiper-button-next {
  top: 38% !important;
}

/* Coupon  Dropdown */

.couponDropdown.ui.selection.dropdown {
  height: 30px;
  width: 150px;
  min-width: unset;
  margin-right: 5px;
  border: none;
  position: relative;
  font-size: 10px;
  padding: 10px 10px;
  font-weight: 600;
}

.couponDropdown.ui.selection.dropdown:hover {
  border-color: black;
}

.couponDropdown.ui.selection.active.dropdown .menu {
  margin-top: 6px;
  box-shadow: 0px 6px 10px 0.1px rgba(0, 0, 0, 0.212);
  border: none;
}

.couponDropdown.ui.selection.active.dropdown .menu:hover {
  border: none;
}

.couponDropdown.ui.dropdown .menu > .item {
  font-size: 10px;
  padding-left: 10px !important;
}

.couponDropdown.ui.dropdown > .dropdown.icon:before {
  content: "";
  background-image: url("/favoriteDropdown.svg") !important;
  background-repeat: no-repeat !important;
  z-index: 2;
  width: 9px;
  height: 6.86px;
  right: 9px;
  top: 12px;
  position: absolute;
}

/* Card Dropdown For Basket */

.cardDropdownForBasket.ui.selection.dropdown {
  height: 40px;
  width: 112px;
  min-width: unset;
  margin-right: 24px;
  border: 1px solid #707070;
  position: relative;
  font-size: 10px;
  padding: 14px 10px;
  font-weight: 600;
}

.cardDropdownForBasket.ui.selection.dropdown:hover {
  border-color: black;
}

.cardDropdownForBasket.ui.selection.active.dropdown .menu {
  margin-top: 6px;
  box-shadow: 0px 6px 10px 0.1px rgba(0, 0, 0, 0.212);
  border: none;
}

.cardDropdownForBasket.ui.selection.active.dropdown .menu:hover {
  border: none;
}

.cardDropdownForBasket.ui.dropdown .menu > .item {
  font-size: 10px;
  padding-left: 10px !important;
}

.cardDropdownForBasket.ui.dropdown > .dropdown.icon:before {
  content: "";
  background-image: url("/arrowdown.svg") !important;
  background-repeat: no-repeat;
  z-index: 2;
  width: 12px;
  height: 6.86px;
  top: 16px;
  right: 14px;
  position: absolute;
}

/* Company Info Dropdown */

.compnayInfoDropdown.ui.selection.dropdown {
  height: 40px;
  width: 520px;
  min-width: unset;
  border: 1px solid #707070;
  position: relative;
  font-size: 10px;
  padding: 14px 10px;
  font-weight: 600;
  margin-bottom: 13px;
}

.compnayInfoDropdown.ui.selection.dropdown:hover {
  border-color: black;
}

.compnayInfoDropdown.ui.selection.active.dropdown .menu {
  margin-top: 6px;
  box-shadow: 0px 6px 10px 0.1px rgba(0, 0, 0, 0.212);
  border: none;
}

.compnayInfoDropdown.ui.selection.active.dropdown .menu:hover {
  border: none;
}

.compnayInfoDropdown.ui.dropdown .menu > .item {
  font-size: 10px;
  padding-left: 10px !important;
}

.compnayInfoDropdown.ui.dropdown > .dropdown.icon:before {
  content: "";
  background-image: url("/arrowdown.svg") !important;
  background-repeat: no-repeat;
  z-index: 2;
  width: 12px;
  height: 6.86px;
  top: 16px;
  right: 14px;
  position: absolute;
}

/* cont dropdown */

.contactDropdown.ui.selection.dropdown {
  height: 40px;
  width: 260px;
  border: 1px solid #707070;
  position: relative;
  font-size: 11px;
  padding: 12.7px 10px;
  font-weight: 600;
}

.contactDropdown.ui.selection.dropdown:hover {
  border-color: black;
}

.contactDropdown.ui.selection.active.dropdown .menu {
  margin-top: 6px;
  box-shadow: 0px 6px 10px 0.1px rgba(0, 0, 0, 0.212);
  border: none;
}

.contactDropdown.ui.selection.active.dropdown .menu:hover {
  border: none;
}

.contactDropdown.ui.dropdown .menu > .item {
  font-size: 11px;
  padding-left: 10px !important;
}

.contactDropdown.ui.dropdown > .dropdown.icon:before {
  content: "";
  background-image: url("/arrowdown.svg") !important;
  background-repeat: no-repeat;
  z-index: 2;
  width: 12px;
  height: 6.86px;
  top: 16px;
  right: 14px;
  position: absolute;
}

.myAccBread {
  width: 95%;
  max-width: 1200px;
  margin: auto;
  margin-bottom: 60px;
}

@media only screen and (max-width: 1200px) {
  /*Homepage Top Swiper */
  .homePageTopSwiper .swiper-button-prev,
  .homePageTopSwiper .swiper-button-next {
    display: none;
  }
}

@media only screen and (max-width: 1024px) {
  .fixedLayout {
    padding-top: 55px;
  }
  .ui.breadcrumb {
    display: none;
  }

  /* prog bar */
  /* 
  .detailBar.ui.progress:last-child {
    margin: 0;
  }
  
  .detailBar.ui.progress {
    background: #efefef;
    border-radius: 0;
    height: 15px;
  }
  
  .detailBar.ui.progress .bar {
    border-radius: 0;
    height: 15px;
    background: black;
    min-width: 0;
  } */
}

@media only screen and (max-width: 750px) {
  /* Message Modal Dropdown */
  .messageModalDropdown.ui.selection.dropdown {
    width: 100%;
  }

  /* Coupon  Dropdown */
  .couponDropdown.ui.selection.dropdown {
    width: 200px;
  }
}

@media only screen and (max-width: 650px) {
  /* Company Info Dropdown */
  .compnayInfoDropdown.ui.selection.dropdown {
    width: 100%;
  }
}
