.navbarContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
}

.navbarTopSide {
  width: 100%;
  height: 35px;
  background-color: #efefef;
}

.navbarTopInner {
  width: 90%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  margin: auto;
  height: fit-content;
}

.navbarTopLeft {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.navbarTopLeft li {
  display: flex;
  list-style: none;
  font-size: 12px;
  font-weight: 400;
  margin: 0 30px;
}

.navbarTopLeft li:first-child {
  margin-left: 0;
}

.navbarTopLeftSocial {
  margin-left: 25px;
}

.navbarTopLeftSocial a {
  margin: 5px;
  font-size: 15px;
}

.navbarTopRight {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.navbarTopRight li {
  display: flex;
  list-style: none;
  font-size: 12px;
  font-weight: 400;
  margin: 0 30px;
}

.navbarTopRight li:last-child {
  margin-right: 0;
}

.navbarCenter {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-bottom: 0.1px solid #efefef;
}

.navbarLogo {
  width: 131px;
}

.navbarLogo h1 {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  margin: 0;
  font-weight: 800;
}

.navbarCenterTop {
  width: 90%;
  max-width: 1200px;
  height: 70px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbarSearch {
  display: flex;
  justify-self: center;
}

.navbarSearch {
  width: fit-content;
  height: fit-content;
}

.navbarSearchInput {
  width: 380px;
  height: 28px;
  border: 0;
  margin-left: 25px;
  padding: 0 15px;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  border-bottom: 1px solid #000000;
}
.navbarCenterLinks {
  display: flex;
}
.navbarCenterLinksBask {
  margin-right: 0px;
  position: relative;
  display: flex;
  width: 25.49px;
  height: 23px;
  cursor: pointer;
}

.navbarCenterLinks a {
  margin-right: 30px;
  position: relative;
}

.navbarCenterLinks a:last-child {
  margin-right: 0;
}

.basketCount {
  position: absolute;
  top: -10px;
  right: -8px;
  /* width: 22px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center; */
  padding: 5px 7px;
  z-index: 1;
  border-radius: 22px;
  font-size: 11px;
  color: white;
  background-color: #333333;
}

.navbarBottomSide {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #333333;
}

.navbarBottomSideInner {
  width: 90%;
  max-width: 1200px;
  height: 50px;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.navbarBottomSideInner ul {
  list-style: none;
  display: flex;
}

.navbarBottomSideInner ul li {
  margin: 0 25px;
}

.popupLinks {
  list-style: none;
}

.popupLinks li {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: center;
  padding-left: 38px;
  width: 320px;
  height: 66px;
}

.searchResults {
  position: absolute;
  top: 156px;
  right: 0;
  left: 0;
  margin-right: auto;
  display: flex;
  margin-left: auto;
  height: 567px;
  width: 1000px;
  z-index: 2;
  background-color: #ffffff;
  box-shadow: 0px 7px 10px 0.1px rgba(0, 0, 0, 0.157);
  opacity: 1;
  transition: 1s;
  overflow: hidden;
}

.searchResultsClose {
  left: -5000px;
  opacity: 0.9;
  transition: 1s;
}

.searchResultsLeft {
  width: 333px;
  height: 100%;
}

.searchResultsRight {
  width: 667px;
  height: 100%;
  display: flex;
  padding-top: 5px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.searchResultsLeftTop {
  height: 195px;
  width: 100%;
  padding: 25px;
}

.searchResultsLeftTop ul {
  list-style: none;
}

.searchResultsLeftTop ul li {
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #000000;
  margin-bottom: 15px;
}

.searchResultsLeftBottom {
  width: 100%;
  padding: 25px;
}

.searchResultsLeftBottom ul {
  list-style: none;
}

.searchResultsLeftBottom ul li {
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #000000;
  margin-bottom: 15px;
}

.searchResultsLeft h5 {
  margin: 0;
  font-size: 16px;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  width: 250px;
  border-bottom: 1px solid #333333;
  margin-left: 25px;
  padding-bottom: 15px;
  margin-bottom: 10px;
}

.searchResultsCard {
  width: 330px;
  height: 105px;
  box-shadow: 0px 3px 7px 2px rgba(0, 0, 0, 0.096);
  display: flex;
  padding: 12px 22px;
  margin-bottom: 8.9px;
}

.srCardImage {
  width: 80px;
  height: 80px;
  box-shadow: 0px 3px 10px 1px rgba(0, 0, 0, 0.096);
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.resultProductInfo {
  margin-left: 15px;
  padding-top: 5px;
}

.resultProductInfo p {
  margin: 0;
  font-size: 9px;
  margin-bottom: 3px;
}

.resultProductInfo p:first-child {
  font-size: 13px;
  font-weight: 600;
}

.resultProductInfo p:last-child {
  font-size: 11px;
  font-weight: 600;
  color: #00801e;
  margin-bottom: 0;
}

.resultProductInfo p:last-child span {
  font-size: 9px;
  font-weight: 400;
  color: #333333;
  text-decoration: line-through #333333;
  vertical-align: 2.5px;
}

.navbarBasketContainer {
  width: 280px;
  height: fit-content;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.16);
}

.navbarBasketItemImage {
  width: 70px;
  height: 80px;
  border: 1px solid #333333;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.navbarBasketItemDel {
  position: absolute;
  width: 9px;
  height: 9px;
  top: 10px;
  right: 13px;
  cursor: pointer;
}

.navbarBasketItems {
  position: relative;
  height: 105px;
  border-bottom: 1px solid #333333;
  display: flex;
  align-items: center;
  padding-left: 14px;
}

.navbarBasketItemInfo {
  display: flex;
  flex-direction: column;
  height: 80px;
  padding-left: 15px;
}

.navbarBasketItemInfo strong {
  font-size: 10px;
  margin-bottom: 0;
}

.navbarBasketItemInfo h5 {
  font-size: 10px;
  margin: 0;
  font-weight: 400;
  margin: 3px 0px 5px 0;
}

.navbarBasketItemInfo {
  font-size: 10px;
}

.navbarBasketContainerHead {
  display: block;
  font-size: 10px;
  padding-left: 14px;
  padding-bottom: 11px;
  padding-top: 11px;
  border-bottom: 1px solid #333333;
}

.navbarBasketContainerHead span {
  font-weight: 500;
  font-style: italic;
  padding-left: 3px;
}

.navbarBasketShipCon {
  display: flex;
  flex-direction: column;
  padding: 0 14px;
}

.navbarBasketShipPrice {
  display: flex;
  height: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  align-items: center;
  justify-content: space-between;
}

.navbarBasketShipPrice strong {
  font-size: 15px;
  color: #00801e;
}

.navbarBasketShipPrice p {
  margin-bottom: 0;
  font-size: 10px;
}

.navbarBasketBuyBtn {
  width: 100%;
  height: 30px;
  border-radius: 5px;
  color: white;
  font-size: 10px;
  letter-spacing: 0.2em;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: #00801e;
}

.navbarBasketCloseBtn {
  font-size: 10px;
  font-weight: 700;
  border: none;
  background: transparent;
  margin-bottom: 10px;
}

.hamIcon {
  display: none;
}

.hamMenuInner {
  display: none;
}

@media only screen and (max-width: 1024px) {
  .navbarSearch {
    display: none;
  }

  .navbarLogo {
    width: fit-content;
  }

  .navbarBottomSide {
    display: none;
  }

  .navbarCenterLinks a {
    margin-right: 15px;
    position: relative;
    user-select: none;
  }

  .navbarTopSide {
    display: none;
  }

  .hamIcon {
    display: flex;
  }

  .hamMenuInner {
    display: flex;
    width: 100%;
  }

  .hamIcon i {
    font-size: 23px;
    margin-left: 18px;
    user-select: none;
  }

  .navbarContainer {
    position: fixed;
    z-index: 500;
    top: 0;
    left: 0;
    /* padding-top: 10px; */
  }

  .navbarCenterTop {
    height: 55px;
    width: 100%;
    background-color: white;
    padding: 0 20px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 6;
    box-shadow: 0px 2px 10px 0px rgb(0 0 0 / 16%);
  }

  .hamMenuInnerContainer {
    position: absolute;
    top: 55px;
    border-top: 1px solid #333333;
    z-index: 4;
    background-color: white;
    padding-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #333333;
    animation-name: fadeMob;
    animation-duration: 0.5s;
    transform-origin: top;
  }

  .hamMenuInnerContainerClose {
    display: none;
  }

  @keyframes fadeMob {
    from {
      opacity: 0;
      transform: translateY(-100px);
      transform: rotateX(90deg);
    }
    to {
      opacity: 1;
      transform: translateY(0px);
      transform: rotateX(0);
    }
  }

  .hamMenuInner {
    width: 90%;
    flex-direction: column;
    display: flex;
  }

  .hamMenuInnerLinks {
    width: 100%;
    list-style: none;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hamMenuInnerLinks li {
    width: 100%;
  }

  .hamMenuInnerLinks li a {
    font-size: 14px;
    font-weight: 500;
    width: 100%;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #333333;
    border-radius: 5px;
    margin-bottom: 10px;
    letter-spacing: 0.1em;
  }

  .mobileSearchNavbar {
    width: 100%;
    border-bottom: 1px solid #333333;
    margin-bottom: 20px;
  }

  .mobileSearchNavbar input {
    width: 100%;
    height: 35px;
    margin-bottom: 20px;
    border: 1px solid #333333;
    outline: none;
    border-radius: 5px;
    padding-left: 35px;
    background-image: url("../public/searchIconMini.svg");
    background-repeat: no-repeat;
    background-size: 15px;
    font-size: 14px;
    background-position-x: 9px;
    background-position-y: 8.5px;
    padding-top: 2px;
  }

  .navMobULink ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
  }

  .navMobULink ul li {
    width: 31%;
  }

  .navMobULink ul li a {
    width: 100%;
    text-align: center;
    background: #333333;
    border-radius: 5px;
    height: 35px;
    color: white;
    font-size: 14px;
    letter-spacing: 0.1em;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .navMobULink {
    margin-bottom: 10px;
  }

  .navMobULinkBottom {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 10px;
    align-items: center;
  }

  .navMobULinkBottom div a {
    margin-right: 15px;
    font-size: 18px;
  }

  .navbarBasketContainer {
    width: 280px;
    height: fit-content;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.16);
  }
}

@media only screen and (max-width: 354px) {
  .navbarBasketContainer {
    width: 250px;
  }

  .navbarBasketItemInfo {
    padding-right: 15px;
  }
}
