.newPasswordWrapper {
  width: 400px;
  margin: auto;
  margin-top: 172px;
  margin-bottom: 154px;
  display: flex;
  flex-direction: column;
}

.mainTitle {
  font-size: 25px;
  font-family: "Playfair Display", serif;
  color: #333333;
  line-height: 72px;
  margin-bottom: 31.5px;
  font-weight: 600;
  width: 100%;
  border-bottom: 1px solid #333333;
}

.registerForm {
  display: flex;
  flex-direction: column;
}

.desc {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #333333;
  line-height: 21px;
  margin-bottom: 25px;
}

.passwordInput {
  width: 400px;
  height: 40px;
  border: 1px solid #707070;
  border-radius: 5px;
  padding: 12px 10px;
  color: rgba(51, 51, 51, 0.4);
  font-size: 10px;
  line-height: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  margin-bottom: 10px;
}

.btnDiv {
  display: flex;
  margin-top: 30px;
  justify-content: space-between;
}

.changeBtn {
  width: 230px;
  height: 40px;
  color: white;
  border-radius: 5px;
  border: none;
  font-size: 14px;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.4em;
  background: linear-gradient(to right, white 50%, #333333 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.2s ease-out;
}

.changeBtn:hover {
  background-position: left bottom;
  color: #333333;
  transition: all 0.1s ease-out;
  border: 1px solid #333333;
}

.cancelBtn {
  width: 160px;
  height: 40px;
  color: white;
  border-radius: 5px;
  border: none;
  font-size: 14px;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.4em;
  background: linear-gradient(to right, white 50%, #333333 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.2s ease-out;
}

.cancelBtn:hover {
  background-position: left bottom;
  color: #333333;
  transition: all 0.1s ease-out;
  border: 1px solid #333333;
}

.startShoppingBtn {
  width: 400px;
  height: 40px;
  color: white;
  border-radius: 5px;
  border: none;
  font-size: 14px;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.4em;
  background: linear-gradient(to right, white 50%, #333333 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.2s ease-out;
}

.startShoppingBtn:hover {
  background-position: left bottom;
  color: #333333;
  transition: all 0.1s ease-out;
  border: 1px solid #333333;
}

@media only screen and (max-width: 450px) {
  .newPasswordWrapper {
    width: 90%;
  }

  .passwordInput {
    width: 100%;
  }

  .btnDiv {
    flex-direction: column;
  }

  .changeBtn {
    margin-bottom: 10px;
  }
}
