.registerWrapper {
  width: 691px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 74px;
  display: flex;
  flex-direction: column;
}

.mainTitle {
  font-size: 25px;
  font-family: "Playfair Display", serif;
  color: #333333;
  line-height: 72px;
  margin-bottom: 30px;
  font-weight: 600;
  width: 100%;
  border-bottom: 1px solid #333333;
}

/* REGİSTER */

.registerForm {
  display: flex;
  flex-direction: column;
}

.subTitle {
  font-size: 13px;
  font-family: "Playfair Display", serif;
  color: #333333;
  line-height: 1;
  margin-bottom: 13px;
  font-weight: 600;
}

.desc {
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #333333;
  line-height: 16px;
  width: 272px;
}

.nameInput {
  width: 280px;
  height: 40px;
  border: 1px solid #707070;
  border-radius: 5px;
  padding: 12px 10px;
  color: #333333;
  margin-bottom: 10px;
  font-size: 10px;
  line-height: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

.nameInput::placeholder,
.surnameInput::placeholder,
.mailInput::placeholder,
.passwordInput::placeholder {
  color: rgba(51, 51, 51, 0.4);
}

.surnameInput {
  width: 280px;
  height: 40px;
  border: 1px solid #707070;
  border-radius: 5px;
  padding: 12px 10px;
  color: #333333;
  margin-bottom: 16px;
  font-size: 10px;
  line-height: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

.mailInput {
  width: 280px;
  height: 40px;
  border: 1px solid #707070;
  border-radius: 5px;
  padding: 12px 10px;
  color: #333333;
  margin-bottom: 10px;
  font-size: 10px;
  line-height: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

.passwordInput {
  width: 280px;
  height: 40px;
  border: 1px solid #707070;
  border-radius: 5px;
  padding: 12px 10px;
  color: #333333;
  margin-bottom: 10px;
  font-size: 10px;
  line-height: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

.campaignLabel {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  height: fit-content;
}

.campaignText {
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #333333;
  line-height: 18px;
  margin-left: 10px;
  width: 270px;
  margin-top: 8px;
}

.readText {
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #333333;
  line-height: 18px;
  margin-left: 10px;
  width: 270px;
  margin-top: 5px;
}

.readText span {
  font-weight: bold;
}

.registerFormBtn {
  width: 270px;
  height: 40px;
  color: white;
  border-radius: 5px;
  border: none;
  font-size: 14px;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.4em;
  background: linear-gradient(to right, white 50%, #333333 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.2s ease-out;
  margin-top: 20px;
}

.registerFormBtn:hover {
  background-position: left bottom;
  color: #333333;
  transition: all 0.1s ease-out;
  border: 1px solid #333333;
}

.or {
  width: 200px;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  color: #333333;
  line-height: 1;
  margin-bottom: 14px;
  margin-top: 19px;
  font-weight: 400;
}

.signWithSocial {
  width: 270px;
  height: 40px;
  color: white;
  border-radius: 5px;
  border: none;
  font-size: 10px;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.2em;
  background: linear-gradient(to right, white 50%, #333333 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.2s ease-out;
  margin: 7.5px 0;
}

.signWithSocial:hover {
  background-position: left bottom;
  color: #333333;
  transition: all 0.1s ease-out;
  border: 1px solid #333333;
}

@media only screen and (max-width: 750px) {
  .registerWrapper {
    width: 90%;
  }
}
